# Time Series

In this notebook, we will dive deeper into how to deal with dates and times in Python.  First let's look at how to create and manipulate a pandas timestamp, which is simply a moment in time.

## Timestamp

In [18]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [72]:
#Create a time stamp
time_stamp = pd.to_datetime("1-1-2018")

time_stamp

Timestamp('2018-01-01 00:00:00')

Notice that we gave the to_datetime function a date as a string.  As we have already seen, the to_datetime function is really good at parsing these string, no matter the input, and turning them into the correct datetime.  Let's look at a few more examples:

In [73]:
#Parsing dates
pd.to_datetime("1/5/2009 12:00")

Timestamp('2009-01-05 12:00:00')

In [74]:
pd.to_datetime("1/1/18 1PM")

Timestamp('2018-01-01 13:00:00')

In [75]:
pd.to_datetime("March 12th 1990 1:56")

Timestamp('1990-03-12 01:56:00')

For a European date just specify datefirst = True when creating your date.

In [76]:
#March 5th 2000 
american_date = pd.to_datetime("3/5/00")
american_date

Timestamp('2000-03-05 00:00:00')

In [77]:
#May 3rd 2000 
euro_date = pd.to_datetime("3/5/00", dayfirst=True)
euro_date

Timestamp('2000-05-03 00:00:00')

Each timestamp has various attributes that we can access as follows

In [78]:
#Get the month
euro_date.month

5

In [79]:
#Get the weekday
euro_date.weekday_name

'Wednesday'

In [80]:
#Is this a leap year - 2000 was a leap year
euro_date.is_leap_year

True

Now let's look at how we can do datetime arithmetic. Let's try subtracting to two datetimes.

In [81]:
#Create two datetimes
dt_1 = pd.to_datetime("1/1/2018 12:00")
dt_2 = pd.to_datetime("1/1/2018 1PM")

#Get the difference
diff = dt_2 - dt_1

diff

Timedelta('0 days 01:00:00')

We get back a Timedelta object, which is a single hour.  We can get the number of seconds as follows.

In [82]:
#Get the number of seconds
diff.seconds

3600

How do I look at three hours after each of the two datetimes I created above? We can create a custom Timedelta object representing 3 hours and then add it to the two dates.

In [83]:
#Create timedelta object
three_hours = pd.Timedelta(hours = 3)

three_hours

Timedelta('0 days 03:00:00')

In [84]:
#Add three hours to dt_1, dt_2
new_times = [dt_1 + three_hours, dt_2+three_hours]

new_times

[Timestamp('2018-01-01 15:00:00'), Timestamp('2018-01-01 16:00:00')]

So now we know how to create a single timestamp, but how do I create a whole range on timestamps?  The answer is date_range.

## Date_Range

The date_range method allows us to create a whole range of timestamps (called a date index) with a given start/end date and inputted frequency.  We will start basic and create a date index with dates over each day of January 2018.

In [85]:
#Create the date range -  daily frequency
dt_range_daily = pd.date_range(start="1/1/2018", end = "1/30/2018", freq = "D")

dt_range_daily

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30'],
              dtype='datetime64[ns]', freq='D')

Notice that we can specify the start and end dates as strings and pandas knows what to do.   The three input in the frequency, which tells pandas how to split up the time from the start to the end date.  Common inputs for the frequency can be seen here: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases.

In [86]:
#Create the date range -  daily frequency
dt_range_five_hours = pd.date_range(start="1/1/2018", end = "1/2/2018", freq = "5H")

dt_range_five_hours

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 05:00:00',
               '2018-01-01 10:00:00', '2018-01-01 15:00:00',
               '2018-01-01 20:00:00'],
              dtype='datetime64[ns]', freq='5H')

Another useful parameter for the date_range method is the period argument, which lets you specify how many periods to generate.

In [87]:
#10 days after the 1/1/2018
pd.date_range(start="1/1/2018", periods = 10, freq = "D")

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10'],
              dtype='datetime64[ns]', freq='D')

In [88]:
#10 Wednesday after 1/1/2018
pd.date_range(start="1/1/2018", periods = 10, freq = "W-Wed")

DatetimeIndex(['2018-01-03', '2018-01-10', '2018-01-17', '2018-01-24',
               '2018-01-31', '2018-02-07', '2018-02-14', '2018-02-21',
               '2018-02-28', '2018-03-07'],
              dtype='datetime64[ns]', freq='W-WED')

Let's say I have a date index that is the first 10 days in January.

In [89]:
dt_Jan = pd.date_range(start="1/1/2018", periods = 10, freq = "D")

dt_Jan

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10'],
              dtype='datetime64[ns]', freq='D')

Now I want to add one day to each of the values in this range. It is very easy since the range has a frequency.

In [90]:
#Add 1 day
dt_Jan+1

DatetimeIndex(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
               '2018-01-06', '2018-01-07', '2018-01-08', '2018-01-09',
               '2018-01-10', '2018-01-11'],
              dtype='datetime64[ns]', freq='D')

In [91]:
#Of Course, I can also use the Timedelta
dt_Jan + pd.Timedelta(days=1)

DatetimeIndex(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
               '2018-01-06', '2018-01-07', '2018-01-08', '2018-01-09',
               '2018-01-10', '2018-01-11'],
              dtype='datetime64[ns]', freq='D')

Next, we will look at how to change the timezones of these date indexes.

### Time Zones

When we create a date index, we can specify the timezone with the tz argument as follows. If this argument is not specified, then the date index will be time zone naive. Let's see all of the timezones we can specify.

In [92]:
import pytz

#Get all of the times zones we can specify in the tz argument.
all_time_zones = pytz.all_timezones

#Look at first couple
all_time_zones[:5]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara']

Now let's set the time zone to US Eastern time.

In [93]:
#Set time zone to eastern. The -5 shows that Eastern time is 5 hours behind GMT. 
dt_range_eastern = pd.date_range(start="1/1/2018", periods = 10, freq = "5H", tz = "US/Eastern")
dt_range_eastern

DatetimeIndex(['2018-01-01 00:00:00-05:00', '2018-01-01 05:00:00-05:00',
               '2018-01-01 10:00:00-05:00', '2018-01-01 15:00:00-05:00',
               '2018-01-01 20:00:00-05:00', '2018-01-02 01:00:00-05:00',
               '2018-01-02 06:00:00-05:00', '2018-01-02 11:00:00-05:00',
               '2018-01-02 16:00:00-05:00', '2018-01-02 21:00:00-05:00'],
              dtype='datetime64[ns, US/Eastern]', freq='5H')

If we don't want to set a timezone upon creating the date index, but instead want to set it after then we can use the pandas tz_localize method.

In [94]:
#Create timezone naive date range
dt_range_naive= pd.date_range(start="1/1/2018", periods = 10, freq = "5H")

#Convert to central
df_range_central = dt_range_naive.tz_localize(tz = "US/Central")

df_range_central

DatetimeIndex(['2018-01-01 00:00:00-06:00', '2018-01-01 05:00:00-06:00',
               '2018-01-01 10:00:00-06:00', '2018-01-01 15:00:00-06:00',
               '2018-01-01 20:00:00-06:00', '2018-01-02 01:00:00-06:00',
               '2018-01-02 06:00:00-06:00', '2018-01-02 11:00:00-06:00',
               '2018-01-02 16:00:00-06:00', '2018-01-02 21:00:00-06:00'],
              dtype='datetime64[ns, US/Central]', freq='5H')

Once you have an index with a time zone, you can convert the timezone to another timezone using tz_convert.

In [95]:
#Convert to Pacific
df_range_pacific = df_range_central.tz_convert(tz = "US/Pacific")

df_range_pacific

DatetimeIndex(['2017-12-31 22:00:00-08:00', '2018-01-01 03:00:00-08:00',
               '2018-01-01 08:00:00-08:00', '2018-01-01 13:00:00-08:00',
               '2018-01-01 18:00:00-08:00', '2018-01-01 23:00:00-08:00',
               '2018-01-02 04:00:00-08:00', '2018-01-02 09:00:00-08:00',
               '2018-01-02 14:00:00-08:00', '2018-01-02 19:00:00-08:00'],
              dtype='datetime64[ns, US/Pacific]', freq='5H')

Currently, every datetime that we have created is a timestamp, meaning that it represents a single moment of time.  A natural question is how do we represent an interval of time.  In pandas, we can do this through using periods instead of timestamps.

## Periods

Let's create a single period.  When we do so, we have to specify a representative value and a frequency (how long we want the period to be).

In [96]:
#Creating a period
period_day = pd.Period(value = "1/1/2018", freq = "D")

period_day

Period('2018-01-01', 'D')

A period has various attributes that we can access.

In [97]:
#Get the start time
period_day.start_time

Timestamp('2018-01-01 00:00:00')

In [98]:
#Get the end time
period_day.end_time

Timestamp('2018-01-01 23:59:59.999999999')

In [99]:
#Get the frequency
period_day.freq

See other attributes here: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Period.html

Since period have a frequency, we can easily to arithmetic with period objects

In [100]:
#Add one day
add_one_day = period_day + 1

add_one_day

Period('2018-01-02', 'D')

In [101]:
#look at the end time
add_one_day.end_time

Timestamp('2018-01-02 23:59:59.999999999')

Just like we can create date indexes, we can also create period indexes. The arguments for the period_range function work the same as the date_range function except that each value in this index will now represent an interval of time instead of a single point.

In [102]:
#Create a period range
period_range = pd.period_range(start = "1/1/18 00:00:00", periods = 10 , freq = "5H")

period_range

PeriodIndex(['2018-01-01 00:00', '2018-01-01 05:00', '2018-01-01 10:00',
             '2018-01-01 15:00', '2018-01-01 20:00', '2018-01-02 01:00',
             '2018-01-02 06:00', '2018-01-02 11:00', '2018-01-02 16:00',
             '2018-01-02 21:00'],
            dtype='period[5H]', freq='5H')

In [103]:
#Let's look at the end time of the first period
period_range[0].end_time

Timestamp('2018-01-01 04:59:59.999999999')

We can add five hour to each of these periods very easily sine the period has a frequency.

In [104]:
#Add an hour
period_range+1

PeriodIndex(['2018-01-01 05:00', '2018-01-01 10:00', '2018-01-01 15:00',
             '2018-01-01 20:00', '2018-01-02 01:00', '2018-01-02 06:00',
             '2018-01-02 11:00', '2018-01-02 16:00', '2018-01-02 21:00',
             '2018-01-03 02:00'],
            dtype='period[5H]', freq='5H')

I can reset the frequency of a period using the asfreq method.

In [105]:
#Set frequency to 30 minutes-
period_range.asfreq(freq = "30T")

PeriodIndex(['2018-01-01 04:59', '2018-01-01 09:59', '2018-01-01 14:59',
             '2018-01-01 19:59', '2018-01-02 00:59', '2018-01-02 05:59',
             '2018-01-02 10:59', '2018-01-02 15:59', '2018-01-02 20:59',
             '2018-01-03 01:59'],
            dtype='period[30T]', freq='30T')

This takes the end times of each interval and makes this the representative value rounded to the time unit closest to the new frequency and then creates the periods bases on the new frequency. You can get the new period index to start at the start value by specifying how = 'start' when using the asfreq method.

In [106]:
period_range.asfreq(freq = "30T", how = 'start')

PeriodIndex(['2018-01-01 00:00', '2018-01-01 05:00', '2018-01-01 10:00',
             '2018-01-01 15:00', '2018-01-01 20:00', '2018-01-02 01:00',
             '2018-01-02 06:00', '2018-01-02 11:00', '2018-01-02 16:00',
             '2018-01-02 21:00'],
            dtype='period[30T]', freq='30T')

In [107]:
#Look at end time of first period
period_range.asfreq(freq = "30T", how = 'start')[0].end_time

Timestamp('2018-01-01 00:29:59.999999999')

We can do easy arithmetic with these period indexes as well

In [108]:
#Original period index
period_range

PeriodIndex(['2018-01-01 00:00', '2018-01-01 05:00', '2018-01-01 10:00',
             '2018-01-01 15:00', '2018-01-01 20:00', '2018-01-02 01:00',
             '2018-01-02 06:00', '2018-01-02 11:00', '2018-01-02 16:00',
             '2018-01-02 21:00'],
            dtype='period[5H]', freq='5H')

In [109]:
#Add 10 hours to each period
period_range+2

PeriodIndex(['2018-01-01 10:00', '2018-01-01 15:00', '2018-01-01 20:00',
             '2018-01-02 01:00', '2018-01-02 06:00', '2018-01-02 11:00',
             '2018-01-02 16:00', '2018-01-02 21:00', '2018-01-03 02:00',
             '2018-01-03 07:00'],
            dtype='period[5H]', freq='5H')

Now we are ready to actually work with time series and see why all of this is useful. We will also see how to do perform easy slicing when the index of your df is a date/period index as well as compute statistics such as rolling means of time series.

## Apple Stock Data

We will work with Apple stock data from 1/1/2017-9/1/2017. We begin by reading in the data and doing the necessary conversion.

In [19]:
#Read in the data
df_AAPL = pd.read_csv("Data/AAPL.csv", parse_dates=["Date"], index_col=0)

df_AAPL.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-03,115.800003,116.330002,114.760002,116.150002,114.311760,28781900
1,2017-01-04,115.849998,116.510002,115.750000,116.019997,114.183815,21118100
2,2017-01-05,115.919998,116.860001,115.809998,116.610001,114.764473,22193600
3,2017-01-06,116.779999,118.160004,116.470001,117.910004,116.043915,31751900
4,2017-01-09,117.949997,119.430000,117.940002,118.989998,117.106812,33561900

In [21]:
#Set the Date column to be the index
df_AAPL.set_index("Date", inplace = True)

df_AAPL.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,115.800003,116.330002,114.760002,116.150002,114.311760,28781900
2017-01-04,115.849998,116.510002,115.750000,116.019997,114.183815,21118100
2017-01-05,115.919998,116.860001,115.809998,116.610001,114.764473,22193600
2017-01-06,116.779999,118.160004,116.470001,117.910004,116.043915,31751900
2017-01-09,117.949997,119.430000,117.940002,118.989998,117.106812,33561900

In [4]:
#Lets look at the index
df_AAPL.index

DatetimeIndex(['2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
               '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
               '2017-01-13', '2017-01-17',
               ...
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28', '2017-08-29', '2017-08-30',
               '2017-08-31', '2017-09-01'],
              dtype='datetime64[ns]', name='Date', length=169, freq=None)

It's a date index! So everything from the previous section applies. Note that this is an (kinda) arbitrary collection of dates, there is no frequency nor is there a timezone. We cannot set a frequency, but we can set a timezone as follows.

In [5]:
#we have localized to GMT timezone
df_AAPL.index = df_AAPL.index.tz_localize(tz = "GMT")

df_AAPL.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03 00:00:00+00:00,115.800003,116.330002,114.760002,116.150002,114.311760,28781900
2017-01-04 00:00:00+00:00,115.849998,116.510002,115.750000,116.019997,114.183815,21118100
2017-01-05 00:00:00+00:00,115.919998,116.860001,115.809998,116.610001,114.764473,22193600
2017-01-06 00:00:00+00:00,116.779999,118.160004,116.470001,117.910004,116.043915,31751900
2017-01-09 00:00:00+00:00,117.949997,119.430000,117.940002,118.989998,117.106812,33561900

In [6]:
#Now look at the index - There is a timezone now.
df_AAPL.index

DatetimeIndex(['2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
               '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
               '2017-01-13', '2017-01-17',
               ...
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28', '2017-08-29', '2017-08-30',
               '2017-08-31', '2017-09-01'],
              dtype='datetime64[ns, GMT]', name='Date', length=169, freq=None)

Let's first  see all of the cool slicing you can do with a time series.

### Slicing with Datetime index

First, there are multiple ways to pick out a single row.  Here we focus on picking out the first row.

In [7]:
#Pick out first row with full row label
df_AAPL.loc['2017-01-03 00:00:00+00:00', :]

Open         1.158000e+02
High         1.163300e+02
Low          1.147600e+02
Close        1.161500e+02
Adj Close    1.143118e+02
Volume       2.878190e+07
Name: 2017-01-03 00:00:00+00:00, dtype: float64

In [8]:
#Pick out the row with just the date
df_AAPL.loc['2017-01-03', :]

Open         1.158000e+02
High         1.163300e+02
Low          1.147600e+02
Close        1.161500e+02
Adj Close    1.143118e+02
Volume       2.878190e+07
Name: 2017-01-03 00:00:00+00:00, dtype: float64

In [9]:
#Pick out everything in January
df_AAPL.loc["1-2017",:].head(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03 00:00:00+00:00,115.800003,116.330002,114.760002,116.150002,114.311760,28781900
2017-01-04 00:00:00+00:00,115.849998,116.510002,115.750000,116.019997,114.183815,21118100
2017-01-05 00:00:00+00:00,115.919998,116.860001,115.809998,116.610001,114.764473,22193600
2017-01-06 00:00:00+00:00,116.779999,118.160004,116.470001,117.910004,116.043915,31751900
2017-01-09 00:00:00+00:00,117.949997,119.430000,117.940002,118.989998,117.106812,33561900
2017-01-10 00:00:00+00:00,118.769997,119.379997,118.300003,119.110001,117.224907,24462100
2017-01-11 00:00:00+00:00,118.739998,119.930000,118.599998,119.750000,117.854782,27588600
2017-01-12 00:00:00+00:00,118.900002,119.300003,118.209999,119.250000,117.362694,27086200
2017-01-13 00:00:00+00:00,119.110001,119.620003,118.809998,119.040001,117.156021,26111900
2017-01-17 00:00:00+00:00,118.339996,120.239998,118.220001,120.000000,118.100822,34439800

In [118]:
#Pick out everything from march 12 - march 16
df_AAPL.loc["March 12 2017":"March 16 2017", :]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-03-13 00:00:00+00:00,138.850006,139.429993,138.820007,139.199997,137.590912,17421700
2017-03-14 00:00:00+00:00,139.300003,139.649994,138.839996,138.990005,137.383347,15309100
2017-03-15 00:00:00+00:00,139.410004,140.750000,139.029999,140.460007,138.836365,25691800
2017-03-16 00:00:00+00:00,140.720001,141.020004,140.259995,140.690002,139.063690,19232000

In [119]:
#Let's see what happens when we specify times
df_AAPL.loc["1-3-2017 12PM":"1-4-2017 12PM", :]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-04 00:00:00+00:00,115.849998,116.510002,115.75,116.019997,114.183815,21118100

We only get the 1-4 date, since the 1-3 is at midnight.  This is where having period indexes can be useful.

Now lets convert this date index to a period index with a frequency of a day and then do some more slicing.

In [120]:
#Convert date index to period index
df_AAPL.index = df_AAPL.index.to_period(freq = "D")

#Look at index
df_AAPL.index

PeriodIndex(['2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
             '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
             '2017-01-13', '2017-01-17',
             ...
             '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
             '2017-08-25', '2017-08-28', '2017-08-29', '2017-08-30',
             '2017-08-31', '2017-09-01'],
            dtype='period[D]', name='Date', length=169, freq='D')

So now each of the row labels represents an interval of time. Let's try to slice with the times.

In [121]:
df_AAPL.loc["1-3-2017 11:30PM":"1-4-2017 12PM", :]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,115.800003,116.330002,114.760002,116.150002,114.311760,28781900
2017-01-04,115.849998,116.510002,115.750000,116.019997,114.183815,21118100

Now we get the 1-3 value as well since this interval overlaps with the one selected. So how do we get all of January?  The following will not work:

In [10]:
#Try to get all of January
df_AAPL.loc["1-2017",:]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03 00:00:00+00:00,115.800003,116.330002,114.760002,116.150002,114.311760,28781900
2017-01-04 00:00:00+00:00,115.849998,116.510002,115.750000,116.019997,114.183815,21118100
2017-01-05 00:00:00+00:00,115.919998,116.860001,115.809998,116.610001,114.764473,22193600
2017-01-06 00:00:00+00:00,116.779999,118.160004,116.470001,117.910004,116.043915,31751900
2017-01-09 00:00:00+00:00,117.949997,119.430000,117.940002,118.989998,117.106812,33561900
2017-01-10 00:00:00+00:00,118.769997,119.379997,118.300003,119.110001,117.224907,24462100
2017-01-11 00:00:00+00:00,118.739998,119.930000,118.599998,119.750000,117.854782,27588600
2017-01-12 00:00:00+00:00,118.900002,119.300003,118.209999,119.250000,117.362694,27086200
2017-01-13 00:00:00+00:00,119.110001,119.620003,118.809998,119.040001,117.156021,26111900
2017-01-17 00:00:00+00:00,118.339996,120.239998,118.220001,120.000000,118.100822,34439800
2017-01-18 00:00:00+00:00,120.000000,120.500000,119.709999,119.989998,118.090981,23713000
2017-01-19 00:00:00+00:00,119.400002,120.089996,119.370003,119.779999,117.884300,25597300
2017-01-20 00:00:00+00:00,120.449997,120.449997,119.730003,120.000000,118.100822,32597900
2017-01-23 00:00:00+00:00,120.000000,120.809998,119.769997,120.080002,118.179558,22050200
2017-01-24 00:00:00+00:00,119.550003,120.099998,119.500000,119.970001,118.071304,23211000
2017-01-25 00:00:00+00:00,120.419998,122.099998,120.279999,121.879997,119.951073,32377600
2017-01-26 00:00:00+00:00,121.669998,122.440002,121.599998,121.940002,120.010132,26337600
2017-01-27 00:00:00+00:00,122.139999,122.349998,121.599998,121.949997,120.019958,20562900
2017-01-30 00:00:00+00:00,120.930000,121.629997,120.660004,121.629997,119.705017,30377500
2017-01-31 00:00:00+00:00,121.150002,121.389999,120.620003,121.349998,119.429459,49201000

Do do this you have to specify start and end dates.

In [123]:
#Get all of January
df_AAPL.loc["1-1-2017": "1-31-2017", :].head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,115.800003,116.330002,114.760002,116.150002,114.311760,28781900
2017-01-04,115.849998,116.510002,115.750000,116.019997,114.183815,21118100
2017-01-05,115.919998,116.860001,115.809998,116.610001,114.764473,22193600
2017-01-06,116.779999,118.160004,116.470001,117.910004,116.043915,31751900
2017-01-09,117.949997,119.430000,117.940002,118.989998,117.106812,33561900

Now, let's convert the period index back to a date index and see some important computations we can do.

In [127]:
#Convert back to date index
df_AAPL.index = df_AAPL.index.to_timestamp()

#Look at index
df_AAPL.index

DatetimeIndex(['2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
               '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
               '2017-01-13', '2017-01-17',
               ...
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28', '2017-08-29', '2017-08-30',
               '2017-08-31', '2017-09-01'],
              dtype='datetime64[ns]', name='Date', length=169, freq=None)

We will start with resampling, which lets us summarize the time series in either smaller (downsampling) or larger (upsampling) intervals of time.

### Resampling

Let's just focus on the open price for now

In [22]:
#Get the open price
open_price = df_AAPL.Open

open_price.head()

Date
2017-01-03    115.800003
2017-01-04    115.849998
2017-01-05    115.919998
2017-01-06    116.779999
2017-01-09    117.949997
Name: Open, dtype: float64

Let's say I want to know how the open price changes for each month.  I can resample the data monthly, and use the average open price as the representative statistic for each month.  Here is how I do that.

In [12]:
#Monthly resaampling with the mean
open_price_monthly = open_price.resample(rule = "M").mean()
open_price_monthly

Date
2017-01-31 00:00:00+00:00    119.093499
2017-02-28 00:00:00+00:00    133.234738
2017-03-31 00:00:00+00:00    140.362174
2017-04-30 00:00:00+00:00    143.030001
2017-05-31 00:00:00+00:00    151.965908
2017-06-30 00:00:00+00:00    148.215001
2017-07-31 00:00:00+00:00    148.096500
2017-08-31 00:00:00+00:00    158.946958
2017-09-30 00:00:00+00:00    164.800003
Freq: M, Name: Open, dtype: float64

So the values in this series are monthly averages, but our row labels are timestamps as you can seen below.

In [132]:
open_price_monthly.index

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30'],
              dtype='datetime64[ns]', name='Date', freq='M')

First it makes more sense to have these be intervals of time starting at the first of each month and lasting one month.  We can do this with two extra inputs to the resample method: label = 'left' and kind = 'period'.

In [133]:
open_price_monthly_periods = open_price.resample(rule = "M", label='left', kind = "period").mean()
open_price_monthly_periods

Date
2017-01    119.093499
2017-02    133.234738
2017-03    140.362174
2017-04    143.030001
2017-05    151.965908
2017-06    148.215001
2017-07    148.096500
2017-08    158.946958
2017-09    164.800003
Freq: M, Name: Open, dtype: float64

You can downsample using multiple statistics using the agg method.  Let's say I want to downsample monthly and then summarize by mean and max open price. I can do this as follows:

In [150]:
#Downsampling using to two statistics
min_max = open_price.resample(rule = "M", label='left', kind = "period").agg(["mean", "max"])

min_max

               mean         max
Date
2017-01  119.093499  122.139999
2017-02  133.234738  137.380005
2017-03  140.362174  144.190002
2017-04  143.030001  144.470001
2017-05  151.965908  156.009995
2017-06  148.215001  155.250000
2017-07  148.096500  153.750000
2017-08  158.946958  163.800003
2017-09  164.800003  164.800003

In [151]:
#Now index is a period with monthly frequency
open_price_monthly_periods.index

PeriodIndex(['2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
             '2017-07', '2017-08', '2017-09'],
            dtype='period[M]', name='Date', freq='M')

Let's see what happens when I upsample the open price to be every 12 hours. In this case, we will have blank rows in our time series.  Here we use the forward fill method fill in the blanks, which will fill each blank with the last non-blank entry.

In [31]:
open_price_half_day = open_price.resample(rule = "12H").ffill().head()
open_price_half_day.head()

Date
2017-01-03 00:00:00    115.800003
2017-01-03 12:00:00    115.800003
2017-01-04 00:00:00    115.849998
2017-01-04 12:00:00    115.849998
2017-01-05 00:00:00    115.919998
Freq: 12H, Name: Open, dtype: float64

### Shift

Shift is another useful method for time series. Let's focus on the closing price for this section

In [14]:
price_close = df_AAPL.Close

price_close.head()

Date
2017-01-03 00:00:00+00:00    116.150002
2017-01-04 00:00:00+00:00    116.019997
2017-01-05 00:00:00+00:00    116.610001
2017-01-06 00:00:00+00:00    117.910004
2017-01-09 00:00:00+00:00    118.989998
Name: Close, dtype: float64

Let's say that we want to know the percent daily change in closing price.  The shift method will shift the time series up or down.

In [174]:
#Shift up one
price_close.shift(1).head()

Date
2017-01-03           NaN
2017-01-04    116.150002
2017-01-05    116.019997
2017-01-06    116.610001
2017-01-09    117.910004
Name: Close, dtype: float64

In [167]:
#Shift up 3
price_close.shift(3).tail()

Date
2017-08-28    159.979996
2017-08-29    159.270004
2017-08-30    159.860001
2017-08-31    161.470001
2017-09-01    162.910004
Name: Close, dtype: float64

In [175]:
#Shift back 1
price_close.shift(-1).tail()

Date
2017-08-28    162.910004
2017-08-29    163.350006
2017-08-30    164.000000
2017-08-31    164.050003
2017-09-01           NaN
Name: Close, dtype: float64

It should be noted that none of these operation will actually change the length of the series.  For example, when we do .shift(1), the last date in the time series does not go from 9/1 to 9/2. To accomplish this we can specify a freq = "B" (B is for business day) argument when using the shift method.

In [176]:
#Shift up one and add one entry at the ed
price_close.shift(1, freq = "B").tail()

Date
2017-08-29    161.470001
2017-08-30    162.910004
2017-08-31    163.350006
2017-09-01    164.000000
2017-09-04    164.050003
Name: Close, dtype: float64

So how I calculate the percentage change in closing price from date to day? Just combine the original series with the shifted by 1 series in a dataframe and then the computation can be done rowise.

In [180]:
#Create df
df_shifted = pd.concat([price_close, price_close.shift(1)], axis=1)

#Set to appropriate columns
df_shifted.columns = ["Close", "Yesterday_Close"]


df_shifted.head()

                 Close  Yesterday_Close
Date
2017-01-03  116.150002              NaN
2017-01-04  116.019997       116.150002
2017-01-05  116.610001       116.019997
2017-01-06  117.910004       116.610001
2017-01-09  118.989998       117.910004

In [183]:
#now the computation becomes easy
df_shifted["Perc_Change"] = ((df_shifted.Close - df_shifted.Yesterday_Close)/df_shifted.Close)*100

df_shifted.head()

                 Close  Yesterday_Close  Perc_Change
Date
2017-01-03  116.150002              NaN          NaN
2017-01-04  116.019997       116.150002    -0.112054
2017-01-05  116.610001       116.019997     0.505963
2017-01-06  117.910004       116.610001     1.102538
2017-01-09  118.989998       117.910004     0.907634

### Rolling Statistics

The final bit of this notebook will be in computing rolling statistics. We will focus again on the closing price. All we we need is the rolling method.

In [15]:
#Rolling mean - 10 day window
ten_day_mean = price_close.rolling(window = 10).mean()

ten_day_mean.head(15)

Date
2017-01-03 00:00:00+00:00        NaN
2017-01-04 00:00:00+00:00        NaN
2017-01-05 00:00:00+00:00        NaN
2017-01-06 00:00:00+00:00        NaN
2017-01-09 00:00:00+00:00        NaN
2017-01-10 00:00:00+00:00        NaN
2017-01-11 00:00:00+00:00        NaN
2017-01-12 00:00:00+00:00        NaN
2017-01-13 00:00:00+00:00        NaN
2017-01-17 00:00:00+00:00    118.283
2017-01-18 00:00:00+00:00    118.667
2017-01-19 00:00:00+00:00    119.043
2017-01-20 00:00:00+00:00    119.382
2017-01-23 00:00:00+00:00    119.599
2017-01-24 00:00:00+00:00    119.697
Name: Close, dtype: float64

We can do multiple functions using agg method as follows:

In [16]:
#Rolling mean, min - 10 day window
ten_day_mean_min = price_close.rolling(window = 10).agg(["mean", "min"])

ten_day_mean_min.head(15)

                              mean         min
Date
2017-01-03 00:00:00+00:00      NaN         NaN
2017-01-04 00:00:00+00:00      NaN         NaN
2017-01-05 00:00:00+00:00      NaN         NaN
2017-01-06 00:00:00+00:00      NaN         NaN
2017-01-09 00:00:00+00:00      NaN         NaN
2017-01-10 00:00:00+00:00      NaN         NaN
2017-01-11 00:00:00+00:00      NaN         NaN
2017-01-12 00:00:00+00:00      NaN         NaN
2017-01-13 00:00:00+00:00      NaN         NaN
2017-01-17 00:00:00+00:00  118.283  116.019997
2017-01-18 00:00:00+00:00  118.667  116.019997
2017-01-19 00:00:00+00:00  119.043  116.610001
2017-01-20 00:00:00+00:00  119.382  117.910004
2017-01-23 00:00:00+00:00  119.599  118.989998
2017-01-24 00:00:00+00:00  119.697  119.040001

Notice that we get NaNs for the first 9 entries since our rolling mean needs 10 values.  If you would pandas to compute rolling windows of 10, but if there are fewer than 10 points, still compute a mean if there are at least 5 we can do this with the min_periods argument as follows

In [187]:
#Set min periods threshold
price_close.rolling(window = 10, min_periods=5).mean().head(8)

Date
2017-01-03           NaN
2017-01-04           NaN
2017-01-05           NaN
2017-01-06           NaN
2017-01-09    117.136000
2017-01-10    117.465001
2017-01-11    117.791429
2017-01-12    117.973750
Name: Close, dtype: float64

In this case, there are only 4 NaNs.  It should also be noted, that all of the points have the same weight when computing rolling statistics. This can be changed with the win_type argument. A popular approach is to do an exponentially weight moving average.  There is a built in exponential weighted moving  (ewm) in pandas.

In [17]:
#EWMA
price_close.ewm(span = 3).mean().head(10)

Date
2017-01-03 00:00:00+00:00    116.150002
2017-01-04 00:00:00+00:00    116.063332
2017-01-05 00:00:00+00:00    116.375714
2017-01-06 00:00:00+00:00    117.194002
2017-01-09 00:00:00+00:00    118.120968
2017-01-10 00:00:00+00:00    118.623334
2017-01-11 00:00:00+00:00    119.191103
2017-01-12 00:00:00+00:00    119.220667
2017-01-13 00:00:00+00:00    119.130157
2017-01-17 00:00:00+00:00    119.565504
Name: Close, dtype: float64