# Practice with Merges

Run the cells below to create the following dataframes.

df_purchases contains information on various customer purchases.

In [1]:
import pandas as pd

names = ["Jake", "Joe", "Ellen", "Joe", "Ellen"]
item = ["Ball", "Shirt", "Shoes", "Ball", "Shirt"]

df_purchases = pd.DataFrame({"Name": names, "Item_Purchased": item} )
                    
df_purchases

    Name Item_Purchased
0   Jake           Ball
1    Joe          Shirt
2  Ellen          Shoes
3    Joe           Ball
4  Ellen          Shirt

df_items contains information on the prices of each item.

In [2]:
item = ["Ball", "Shirt", "Shoes"]
price = [10,15,75]

df_items = pd.DataFrame({"Item": item, "Price":price})

df_items

    Item  Price
0   Ball     10
1  Shirt     15
2  Shoes     75

df_customer contained information on the customers

In [3]:
customers = ["Jake", "Joe", "Ellen"]
allowance = [15, 12, 85]

df_customers = pd.DataFrame({"Allowance":allowance, "Customers":customers})

df_customers

   Allowance Customers
0         15      Jake
1         12       Joe
2         85     Ellen

### Question: How many customers went over their allowance?

Create df_1, which is df_purchases with an additional column that gives the price of each item

Create df_2, which stores the total amount that each person spent.

Created df_3, which adds each person't allowance to df_2

Add a column to df_3 which tells whether or not they went over their allowance or not.

Compute how many people went over.

# Running Back Analysis Tool

The goal in this practice is to analyze the number of rushing yards gained by an inputted running back over the various weeks that the data contains.  We also would like to incorporate whether the given running back went up against good defenses.  To do so, we will compute the average rushing yards given up by each of the given running back's opponents throughout the weeks.

In [17]:
#Place your imports here
import pandas as pd
import matplotlib.pyplot as plt

  Read in the data from the following 4 csv files: nflgames.csv, nflteams.csv, nflplayers.csv, rushingstats.csv. Filter the rushing stats so it only corresponds to running backs (PositionID = 2)

In [59]:
#read in the data below

Enter the name of the running back you would like to analyze and then find the player's player ID and Team ID.

In [58]:
#Write your code here

Next select the rushing stats corresponding to this player and merge this df with the games df to find the week. In this merged df select the following columns: TeamID, GameID, Yds, Week, HomeTeamID, AwayTeamID. Sort the resulting df by Week.

In [57]:
#Write your code here

Create a line chart showing the rushing yards per game for this player.

We will continue to add to the plot above, but first we need to do some more calculations. We would like to find the avg. rushing yards given up by each of this player's opponents.  Add a column to the df you just plotted that stores this player's opponent each week.

In [56]:
#Write your code here

Merge the df above with games to get all of the games which involve one of the player's opponents.  First merge on the HomeTeamID and then on the AwayTeamID and then concatenate.

Select out only GameID_x, Week_x and Opponent_ID and rename the columns to get rid of _x.

Now merge this with rushing states to get the rushing yards gained by opponent running backs in each of these games.

Next, we group by Opponent_ID.

Finally, merge this with rush_stats_w_week.

Produce the desired plot.