# Homework 5

In this homework, you will analyze a data set of movies that can be found in data/movies.csv. In the cell below, I have read in the data just to show you the format of the data set.

In [6]:
import pandas as pd

df_movies = pd.read_csv("data/movies.csv")
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

## Problem 1

Our goal in this problem is to write a function that returns the number of movies in the data set from a partiuclar year.  Note that the year is currently embedded in the title column.  Write the function Get_Count_Year, which will return the number of movies from the inputted year. This function takes as input a year, and returns the number of movies from that year.  To implement this function, my hint is to first write a helper function called Parse_Title that parses the "title" column to pull out the year.   You can use this function combined with apply within Get_Count_Year to add a "year" column, which contains the year of each movie. A couple of things to watch out for:

- Not every title has a year listed. You can discard these movies from your count.
- Be aware of extra spaces in the title of certain movies, which may complicate the string methods you need to use to pull out the year.

In [25]:
def Parse_Title(title):
    """ This is just a helper function
    so we are not grading it"""
    year =0
   
    parsed_title = title.split(" ")
    for i in parsed_title:
        if "(1" in i:
            year = int(i[1:-1])
            return year
        elif "(2" in i:
            year = int(i[1:-1])
            return year

In [29]:
def Get_Count_Year(year):
    
    df_movies = pd.read_csv("data/movies.csv")
    num_movies = 0
    
    df_movies["year"] = df_movies.title.apply(Parse_Title)
    
    count_movie = df_movies.year.value_counts()
    num_movies = count_movie.get(year)
    if num_movies == None:
        num_movies = 0
    return num_movies

In [30]:
assert Get_Count_Year(2002)==311

In [31]:
assert Get_Count_Year(2019)==0

## Problem 2

In this second problem, we will focus on the genres column. Your goal is to write the function Count_Genre, which takes as input a genre and returns the number of movies that are in that genre. Note that quite a few movies are categorized within multiple genres. Hint: use the .contains method that can be applied on object columns

In [80]:
def Count_Genre(genre):
    df_movies = pd.read_csv("data/movies.csv")
    count_genre = 0
    
    count_genre = df_movies[df_movies.genres.str.contains(genre)].shape[0]
    
    return count_genre

In [81]:
assert Count_Genre("Romance") == 1596

In [82]:
assert Count_Genre("Comedy")==3756

In [83]:
assert Count_Genre("Children")==664