In [4]:
import pandas as pd

df_movies = pd.read_csv("data/movies.csv")
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [35]:
def Parse_Title(title):
    """ This is just a helper function
    so we are not grading it"""
    year =None
    # YOUR CODE HERE
    title = 'Toy Story (1995) '
    parsed_title = title.split(" ")
    for i in parsed_title:
        if "(1" in i:
            year = int(i[1:-1])
            return year
        elif "(2" in i:
            year = int(i[1:-1])
            return year
    
Parse_Title('Toy Story (1995)')

1995

In [29]:
df_movies["year"] = df_movies.title.apply(Parse_Title)
count_movie = df_movies.year.value_counts()
count_movie

o    9741
Name: year, dtype: int64

In [26]:
title = 'Toy Story (1995) '
parsed_title = title.split(" ")
for i in parsed_title:
    if "(1" in i:
        return i[1:-1]

SyntaxError: 'return' outside function (<ipython-input-26-ec19c546b647>, line 5)