# Advanced Pandas -- Part 1

In this set of practice exercises, we will be working with a demographic data regarding the passengers aboard the Titanic.  Read in the data frame and use the head() method to check that it was read in correctly.

In [17]:
#Write your code here
import pandas as pd

df_titanic = pd.read_csv("data/titanic_missing.csv")
df_titanic.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Use the rename method to change the column "Name" to "Passenger_Name" and the column "Ticket" to "Ticket_Num".

In [18]:
#Write your code here
df_titanic.rename(columns= {"Name": "Passenger_Name", "Ticket": "Ticket_Num"}, inplace = True)
df_titanic.head()

,PassengerId,Pclass,Passenger_Name,Sex,Age,SibSp,Parch,Ticket_Num,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Change the index of the df_titanic to the column PasengerId.

In [19]:
#Write your code here
df_titanic.set_index("PassengerId", inplace = True)
df_titanic.head()

,Pclass,Passenger_Name,Sex,Age,SibSp,Parch,Ticket_Num,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Select the name of passenger 896

In [20]:
#Write your code here
df_titanic.loc[896]

Pclass                                                       3
Passenger_Name    Hirvonen, Mrs. Alexander (Helga E Lindqvist)
Sex                                                     female
Age                                                         22
SibSp                                                        1
Parch                                                        1
Ticket_Num                                             3101298
Fare                                                   12.2875
Cabin                                                      NaN
Embarked                                                     S
Name: 896, dtype: object

Change the index back to row numbers but making sure that we don't lose the PassengerId column.

In [21]:
#Write your code here
df_titanic.reset_index(drop = False, inplace = True)
df_titanic.head()

,PassengerId,Pclass,Passenger_Name,Sex,Age,SibSp,Parch,Ticket_Num,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

How many missing entries are there in the Age column? Use the isnull() method and recall that Booleans are exactly like 1s (True) and 0s (False).

In [271]:
#Write you code here

Compute the avg age of passengers ignoring the missing data.

In [27]:
#Write your code here
df_titanic.sort_values(by = "Age", ascending = False, inplace = False).reset_index(drop =True).loc[0:4, "Age"].\
mean()

67.0

Using the fillna() method replace the missing values in the Age column with the mean.

In [269]:
#Write your code here

What is the average age of the 5 oldest passengers? The reset_index method will be helpful here.

In [268]:
#Write your code here

# Advanced Pandas -- Part 2

In this practice exercise, we will analyze Chipotle order data.  The file "Chipotle.tsv" contains this information in a tab separated file.  First, read in the data.  You might find the delimiter input to the pandas read_csv method useful. Use the head method to check that everything has been read in correctly.

In [36]:
import pandas as pd
import numpy as np

#Write your code here
df_chip = pd.read_csv("data/chipotle_orders.tsv", delimiter = "\t")
df_chip.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

Now take a look at the dtypes attribute to see how the columns are stored.

In [35]:
df_chip.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

We will write code to answer the following questions:

1. What fraction of customers order burritos versus burrito bowls?
2. What is the average amount of money spent on a Chipotle order?

For question 1, we will use the apply method to create a column that will read "Burrito" for items that are a burrito, "Bowl" for items that are a bowl and "Other" for every other item.

In [47]:
def Burrito_or_Bowl(item, custom_label):
    """Function to be used with apply. Takes an item and returns
    as described above."""
    
    if "Bowl" in item:
        return "Bowl"
    elif "Burrito" in item:
        return "Burrito"
    else:
        return custom_label

Create new column called "Bowl_Burrito" and compute fractions of bowl versus burrito orders. The value_counts() method could be useful here.

In [64]:
#Write you code here
df_chip["Bowl_Burrito"] = df_chip.item_name.apply(Burrito_or_Bowl)
df_chip.head(7)

,order_id,quantity,item_name,choice_description,item_price,Bowl_Burrito
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,Other
1,1,1,Izze,[Clementine],$3.39,Other
2,1,1,Nantucket Nectar,[Apple],$3.39,Other
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,Other
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,Bowl
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,Bowl
6,3,1,Side of Chips,NaN,$1.69,Other

For question 2, use iterrows to calculate the average price per order. Note that the item price column is a string, so first use string methods plut the as.type() method to recast this column as a float.

In [68]:
df_chip["Price"] = df_chip.item_price.str.strip("$").astype("float")
df_chip.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price             object
Bowl_Burrito           object
Price                 float64
dtype: object

In [85]:
df_chip["Total"] = df_chip.Price * df_chip.quantity
df_chip.order_id[4617], df_chip.head()

(1833,
    order_id  quantity                              item_name  \
 0         1         1           Chips and Fresh Tomato Salsa
 1         1         1                                   Izze
 2         1         1                       Nantucket Nectar
 3         1         1  Chips and Tomatillo-Green Chili Salsa
 4         2         2                           Chicken Bowl

                                   choice_description item_price Bowl_Burrito  \
 0                                                NaN     $2.39         Other
 1                                       [Clementine]     $3.39         Other
 2                                            [Apple]     $3.39         Other
 3                                                NaN     $2.39         Other
 4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98          Bowl

    Price  Total
 0   2.39   2.39
 1   3.39   3.39
 2   3.39   3.39
 3   2.39   2.39
 4  16.98  33.96  )

In [89]:
#key = orderID
#value = [totals]

Bill_D = {}

for index, row in df_chip.iterrows():
    order_id = row["order_id"]
    total = row["Total"]
    if order_id in Bill_D:
        Bill_D[order_id].append(total)
    else:
        Bill_D[order_id] = [total]
               
print(Bill_D)

{1: [2.39, 3.39, 3.39, 2.39], 2: [33.96], 3: [10.98, 1.69], 4: [11.75, 9.25], 5: [9.25, 4.45], 6: [8.75, 8.75], 7: [11.25, 4.45], 8: [2.39, 8.49], 9: [8.49, 4.36], 10: [8.75, 4.45], 11: [8.99, 3.39], 12: [10.98, 3.39], 13: [2.39, 8.49], 14: [8.99, 1.09], 15: [8.49, 2.39], 16: [8.99, 1.69], 17: [8.99, 1.09], 18: [8.75, 8.75, 4.45, 2.95], 19: [11.75, 2.15], 20: [4.45, 11.25, 11.75, 8.75], 21: [10.98, 8.99, 3.39], 22: [8.99, 3.99], 23: [8.99, 4.36], 24: [10.98, 1.09], 25: [8.99, 2.39], 26: [9.25, 11.25], 27: [11.75, 2.15], 28: [4.45, 9.25, 11.25, 8.75], 29: [8.99, 8.99], 30: [3.39, 8.99, 10.98], 31: [8.99, 1.69], 32: [8.99, 3.99], 33: [8.75, 4.45], 34: [8.75, 8.75, 2.15, 8.75], 35: [11.25, 2.15], 36: [9.25, 8.75], 37: [8.75, 9.25], 38: [8.49, 8.99, 1.09], 39: [9.25, 2.95], 40: [11.75, 11.75, 9.25], 41: [11.75, 4.45], 42: [9.25, 4.45], 43: [11.75, 8.75], 44: [8.75, 4.45], 45: [8.99, 8.99, 3.99], 46: [8.49, 3.39], 47: [8.99, 1.09], 48: [9.25, 4.45], 49: [8.75, 2.95, 4.45], 50: [2.39, 8.49], 51: [8.99, 8.49, 1.09], 52: [8.99, 3.99], 53: [8.75, 9.25, 4.45], 54: [11.25, 4.45], 55: [8.99, 1.09], 56: [9.25, 2.95, 4.45], 57: [11.75, 4.45], 58: [8.49, 2.39], 59: [10.98], 60: [45.0], 61: [11.75, 4.45], 62: [11.25, 4.45], 63: [11.25, 4.45], 64: [11.25, 11.25], 65: [11.75, 9.25, 4.45], 66: [11.48], 67: [35.96, 1.69], 68: [35.0, 4.45], 69: [8.49, 2.39], 70: [35.0, 4.45], 71: [4.45, 11.25, 11.75], 72: [10.98], 73: [8.49, 10.98, 4.36], 74: [11.48, 8.49, 2.39], 75: [4.45, 11.25, 11.75, 8.75], 76: [8.49, 4.36], 77: [8.49, 3.39], 78: [8.49, 8.99], 79: [10.98], 80: [11.48], 81: [8.49, 1.09, 1.09], 82: [9.25, 8.75, 2.95], 83: [9.25, 4.45, 11.25], 84: [11.48, 8.49, 8.49], 85: [8.99, 2.39], 86: [11.25, 8.75, 2.95], 87: [1.09, 8.99], 88: [8.49, 2.39], 89: [10.98, 1.09, 3.99], 90: [11.25, 8.75], 91: [8.49, 3.39], 92: [8.75, 9.25, 2.15], 93: [11.25, 11.25, 11.25, 4.45], 94: [45.0], 95: [4.45, 11.75], 96: [8.75, 35.0, 8.75], 97: [9.25, 8.75, 2.15], 98: [9.25, 8.6, 8.75], 99: [11.25, 2.15], 100: [8.99, 1.09], 101: [8.99, 3.99], 102: [8.75, 2.95, 2.95], 103: [11.75, 11.8, 9.25, 9.25, 11.75], 104: [9.25, 2.95], 105: [35.0], 106: [8.75, 9.25], 107: [10.98], 108: [8.99, 1.09, 1.09, 1.09, 8.99], 109: [10.98, 1.09], 110: [8.75, 8.75, 9.25, 9.25], 111: [8.75, 8.75], 112: [8.99, 8.99], 113: [8.99, 1.09], 114: [11.75, 1.25], 115: [8.99, 2.39], 116: [9.25, 2.95], 117: [8.99, 3.99], 118: [8.49, 2.39], 119: [8.49, 8.49], 120: [8.49, 1.69], 121: [8.49, 3.99], 122: [8.99, 1.69, 1.09], 123: [47.56], 124: [35.0, 2.15, 8.75], 125: [9.25, 9.25, 8.75, 4.45], 126: [8.75, 11.25], 127: [11.25, 1.25], 128: [9.25, 4.45, 11.25], 129: [11.75, 11.75, 6.49], 130: [8.99, 2.39], 131: [8.49, 2.39], 132: [11.25, 8.75, 2.15], 133: [8.99, 1.69], 134: [8.75, 11.25, 2.15], 135: [4.45, 8.75], 136: [8.49, 8.99], 137: [35.0], 138: [8.49, 1.09, 1.09], 139: [8.75, 1.25, 2.15], 140: [11.08], 141: [8.49, 8.49], 142: [8.99, 2.39], 143: [8.75, 2.15, 1.5], 144: [11.25, 2.15], 145: [8.49, 8.49], 146: [11.75, 9.25], 147: [11.75, 1.25], 148: [11.25, 8.75, 4.45, 6.49], 149: [9.25, 2.95, 11.25, 4.45, 1.25, 1.25], 150: [8.49, 2.39, 4.36], 151: [8.49, 4.36], 152: [44.32], 153: [35.0], 154: [8.75, 2.95, 6.49], 155: [8.99, 3.39, 3.39], 156: [8.99, 8.49], 157: [11.25, 2.15], 158: [11.25, 2.95], 159: [11.25, 1.25], 160: [8.99, 1.09], 161: [8.75, 8.75], 162: [9.25, 2.95], 163: [11.75, 1.5], 164: [8.99, 1.09], 165: [11.25, 1.25, 1.25], 166: [11.25, 11.75, 2.15], 167: [8.99, 1.69], 168: [11.75, 6.49], 169: [8.75, 9.25], 170: [11.25, 4.45, 1.25], 171: [11.25, 4.45], 172: [8.49, 8.99], 173: [8.49, 8.99], 174: [11.25, 1.25], 175: [11.75, 1.25], 176: [11.75, 9.25, 4.45], 177: [11.25, 2.15], 178: [98.82], 179: [1.25, 11.25], 180: [11.48, 1.69, 1.09], 181: [35.0], 182: [4.45, 6.49, 9.25], 183: [8.75, 9.25], 184: [9.25, 8.75, 8.75, 2.15, 2.95], 185: [35.0], 186: [10.98, 11.48, 11.48, 3.39], 187: [8.99, 1.69], 188: [8.99, 1.09], 189: [10.98, 3.39], 190: [8.99, 1.09], 191: [9.25, 8.75], 192: [11.25, 4.45, 2.95, 9.25], 193: [66.6], 194: [8.49, 8.99], 195: [8.75, 8.75, 11.75, 8.75, 11.25, 9.25, 11.25, 11.25], 196: [8.75, 11.25, 2.95, 1.25], 197: [8.49, 1.69], 198: [11.75, 11.25], 199: [8.75, 8.75, 4.45], 200: [8.49, 3.99], 201: [8.49, 3.99], 202: [11.48, 1.69, 1.09], 203: [11.25, 1.5], 204: [10.58, 1.69], 205: [9.25, 11.25, 8.75, 9.25, 11.25, 11.25, 8.75, 11.75, 8.75, 8.75, 8.75, 2.15], 206: [11.25, 11.75, 5.0, 4.45], 207: [9.25, 4.45, 11.25], 208: [8.49, 3.99], 209: [9.25, 9.25], 210: [11.25, 9.25], 211: [11.75, 11.25], 212: [1.25, 47.0, 1.25], 213: [8.99, 8.49], 214: [7.4, 7.4], 215: [8.75, 1.25, 4.45, 8.75, 2.15], 216: [8.75, 4.45], 217: [7.4, 7.4, 7.4], 218: [8.99, 3.99], 219: [8.99, 1.69], 220: [8.75, 8.75], 221: [8.75, 8.75], 222: [11.25, 11.25, 2.95], 223: [8.75, 37.0], 224: [8.49, 3.99], 225: [2.95, 9.25, 9.25, 6.0, 1.25], 226: [8.75, 9.25, 4.45], 227: [8.75, 11.25, 4.45], 228: [10.98], 229: [44.32], 230: [4.45, 8.75, 9.25, 6.49, 9.25], 231: [11.25, 8.75, 9.25, 2.15, 9.25, 4.45], 232: [9.25, 2.95], 233: [9.25, 8.75, 9.25, 1.25, 1.25], 234: [8.75, 8.75, 9.25, 4.45], 235: [11.75, 11.75, 11.75], 236: [9.25, 9.25], 237: [33.96, 2.39, 3.39, 3.39], 238: [9.25, 11.75], 239: [11.25, 2.15], 240: [8.75, 9.25, 4.45], 241: [10.98], 242: [11.25, 9.25], 243: [45.0], 244: [9.25, 2.95, 1.5], 245: [11.48], 246: [8.49, 1.69], 247: [8.49, 8.49, 8.49, 13.56], 248: [11.75, 4.45], 249: [8.75, 4.45], 250: [11.89, 9.39], 251: [8.75, 2.95, 1.25], 252: [9.25, 8.75], 253: [47.56], 254: [8.75, 9.25, 2.15, 2.15, 1.25], 255: [8.49, 3.99], 256: [10.98, 1.09], 257: [8.75, 4.45], 258: [8.75, 11.75, 2.95, 4.45], 259: [9.25, 8.75], 260: [8.49, 3.99], 261: [45.0], 262: [11.25, 1.25], 263: [8.75, 8.75], 264: [37.0, 6.49], 265: [8.75, 8.75, 4.45], 266: [8.49, 3.99], 267: [8.99, 1.09], 268: [8.49, 2.39], 269: [11.48, 1.69], 270: [5.0, 9.25, 1.5], 271: [35.0, 2.95], 272: [8.75, 4.45], 273: [11.75, 8.75], 274: [8.49, 1.69], 275: [8.49, 3.99], 276: [8.99, 8.99, 3.99, 8.99], 277: [11.25, 4.45, 1.25], 278: [3.99, 10.98], 279: [7.4, 3.0, 7.4, 4.0], 280: [8.49, 3.99], 281: [9.25, 4.45], 282: [11.25, 1.25, 11.75, 1.25], 283: [11.25, 2.15], 284: [11.25, 4.45, 11.25, 11.75], 285: [8.99, 2.39], 286: [8.75, 4.45, 1.25], 287: [8.99, 8.49, 4.36], 288: [8.49, 4.36, 1.09], 289: [8.75, 2.95, 1.25], 290: [1.5, 11.25], 291: [9.25, 2.95, 1.25], 292: [8.49, 3.99], 293: [11.48], 294: [3.99, 8.49], 295: [11.25, 1.25], 296: [8.99, 1.69], 297: [11.25, 1.25], 298: [6.49, 8.75], 299: [9.25, 8.75, 2.95], 300: [8.75, 11.75], 301: [8.69, 8.69, 2.29], 302: [3.99, 8.49], 303: [8.75, 8.75], 304: [1.25, 11.75, 11.25, 11.25], 305: [11.25, 1.25, 9.25], 306: [11.75, 6.49], 307: [3.99, 8.49], 308: [11.25, 2.15], 309: [11.25, 11.89], 310: [8.99, 1.69], 311: [8.99, 8.99, 3.99, 8.99], 312: [9.25, 9.25, 2.15], 313: [7.4, 7.4], 314: [8.75, 8.75], 315: [9.25, 4.45], 316: [11.25, 1.25], 317: [11.75, 11.25, 1.25], 318: [3.99, 8.49], 319: [8.49, 8.49, 8.99], 320: [8.75, 2.15, 1.25], 321: [8.49, 1.09, 1.09], 322: [8.75, 2.95, 1.25], 323: [9.25, 1.25, 2.15], 324: [11.25, 1.25], 325: [4.45, 8.75, 5.0], 326: [17.8, 8.75, 8.75, 8.75], 327: [11.25, 11.25], 328: [10.98, 3.99], 329: [10.98, 3.99], 330: [1.69, 8.99], 331: [9.25, 8.75], 332: [8.99, 1.09], 333: [9.25, 2.95], 334: [8.75, 9.25], 335: [3.99, 8.49], 336: [8.75, 8.75], 337: [45.0], 338: [10.98, 9.81, 3.99, 8.99, 1.09], 339: [11.08], 340: [8.75, 4.45], 341: [11.08], 342: [3.99, 8.49], 343: [8.6, 9.25, 8.75, 11.25, 11.25, 9.25], 344: [8.49, 8.99, 8.49], 345: [8.75, 2.95, 4.45], 346: [9.25, 2.95, 9.25, 8.75], 347: [11.25, 4.45], 348: [33.96], 349: [8.49, 2.39], 350: [11.25, 11.25], 351: [9.25, 4.45], 352: [9.25, 9.25, 4.45], 353: [8.75, 9.25], 354: [8.75, 9.25], 355: [9.25, 9.25], 356: [11.48, 8.99], 357: [45.0], 358: [11.75, 11.25, 1.25], 359: [8.75, 2.15, 1.25], 360: [11.25, 8.75, 1.25], 361: [11.25, 1.5], 362: [11.25, 11.25], 363: [9.25, 6.49, 17.8], 364: [8.75, 4.45], 365: [11.25, 1.25], 366: [35.0, 9.25], 367: [8.75, 11.75, 6.0], 368: [8.49, 8.49], 369: [10.98, 8.99, 3.99], 370: [8.75, 4.45], 371: [8.99, 1.69], 372: [11.75, 8.75], 373: [11.25, 4.45], 374: [11.75, 1.25], 375: [11.75, 2.95], 376: [8.99, 8.99, 4.36], 377: [35.96, 8.99], 378: [8.49, 1.69], 379: [11.75, 11.25, 2.95, 11.25, 9.25], 380: [11.75, 8.75, 2.15, 1.5], 381: [8.49, 8.49, 3.39], 382: [8.69, 3.89], 383: [8.75, 4.45], 384: [8.75, 11.25, 2.15, 8.75], 385: [8.49, 1.69], 386: [8.49, 8.49], 387: [1.25, 8.75, 11.75, 11.75], 388: [8.99, 1.09], 389: [8.75, 4.45, 8.75, 2.95, 8.75, 2.15], 390: [3.99, 8.49], 391: [8.99, 3.99], 392: [8.49, 1.69, 1.09], 393: [8.99, 1.09], 394: [9.25, 8.75], 395: [8.99, 2.39], 396: [1.25, 1.25, 11.25, 11.25], 397: [9.25, 9.25], 398: [11.25, 1.5], 399: [3.99, 8.49], 400: [11.25, 9.25, 11.25], 401: [35.0], 402: [8.75, 17.8, 8.75, 8.75], 403: [8.99, 2.39], 404: [11.25, 9.25, 2.15], 405: [11.25, 1.25], 406: [11.75, 1.25], 407: [11.25, 11.75], 408: [1.25, 11.25, 11.25], 409: [8.49, 10.98], 410: [8.75, 1.25, 8.75], 411: [8.49, 8.49], 412: [1.5, 1.5, 8.75, 4.45], 413: [11.25, 1.25, 11.75], 414: [8.49, 2.39], 415: [9.25, 4.45], 416: [9.25, 8.75], 417: [8.99, 1.69], 418: [35.0], 419: [2.39, 8.99, 8.99], 420: [11.25, 4.45], 421: [8.75, 4.45], 422: [9.25, 6.49], 423: [10.98, 8.49], 424: [8.49, 1.09, 1.69], 425: [9.25, 4.45], 426: [8.75, 1.25, 2.95], 427: [3.99, 8.49], 428: [11.75, 11.75, 2.15], 429: [11.48], 430: [8.75, 2.15, 1.25], 431: [11.25, 2.15, 1.25], 432: [8.75, 8.75, 6.49], 433: [1.69, 8.99], 434: [8.75, 11.75], 435: [10.98, 1.09], 436: [8.49, 3.39], 437: [8.75, 2.15, 1.25], 438: [11.48, 10.98], 439: [10.98, 8.49], 440: [2.95, 9.25, 9.25], 441: [11.75, 4.45], 442: [11.48], 443: [11.25, 8.75, 4.45], 444: [1.69, 8.99], 445: [8.75, 4.45, 1.5], 446: [11.75, 2.15], 447: [8.99, 2.39], 448: [8.75, 2.95, 1.25], 449: [8.75, 2.15, 1.25], 450: [4.36, 4.36, 11.48], 451: [8.75, 2.95, 11.75], 452: [11.75, 1.25], 453: [10.58], 454: [8.99, 2.39], 455: [11.75, 4.45], 456: [11.25, 11.25], 457: [35.0, 8.75], 458: [8.75, 8.75], 459: [45.0], 460: [9.25, 8.75, 4.45], 461: [11.75, 1.25], 462: [11.25, 11.25, 2.95], 463: [8.99, 1.69], 464: [11.25, 4.45], 465: [8.75, 6.49], 466: [8.75, 4.45, 9.25], 467: [4.45, 11.75, 11.75], 468: [4.45, 11.89, 11.75], 469: [11.25, 2.95, 1.5], 470: [4.45, 8.75], 471: [8.99, 1.09, 8.99, 1.09, 3.99], 472: [11.48, 8.49], 473: [9.25, 4.45], 474: [11.48], 475: [9.25, 2.95, 9.25], 476: [8.49, 8.99], 477: [8.99, 8.49], 478: [8.75, 2.95, 4.45, 11.89], 479: [10.58, 8.19, 1.69], 480: [8.75, 2.15, 1.25], 481: [35.0, 6.49, 9.25, 2.15], 482: [8.75, 4.45, 8.75, 1.25], 483: [11.48, 11.48], 484: [8.99, 4.36], 485: [8.49, 8.99, 2.39, 2.39, 4.36], 486: [8.75, 4.45], 487: [11.25, 9.25], 488: [9.25, 11.25, 11.25, 4.45, 2.95, 11.75], 489: [8.49, 8.49], 490: [8.99, 1.69], 491: [9.25, 11.25, 11.75, 9.25, 8.75, 11.75, 8.75, 8.75, 11.25, 11.25], 492: [10.98], 493: [11.25, 4.45], 494: [10.98, 8.49], 495: [8.99, 3.39], 496: [3.99, 8.99, 1.09, 1.09, 2.39], 497: [35.0, 4.45], 498: [11.25, 11.25, 4.45], 499: [9.25, 4.45], 500: [8.75, 2.15, 1.25], 501: [11.89, 2.95], 502: [11.75, 1.25], 503: [11.25, 4.45], 504: [11.48, 11.48], 505: [2.95, 9.25], 506: [8.75, 9.25, 2.95], 507: [11.25, 1.25, 11.75, 1.25], 508: [8.99, 2.39], 509: [1.25, 11.25, 1.25, 11.25], 510: [8.49, 3.99], 511: [140.0, 83.25, 8.75, 47.2, 17.8, 11.8, 6.49], 512: [10.98], 513: [35.96, 2.39], 514: [9.25, 8.75, 2.15], 515: [8.75, 4.45], 516: [8.49, 1.69], 517: [8.19, 8.69], 518: [10.98], 519: [3.99, 11.48, 11.48], 520: [4.45, 8.75, 6.49], 521: [8.75, 8.75], 522: [9.25, 1.25, 4.45], 523: [8.49, 1.69], 524: [9.25, 4.45], 525: [8.99, 1.09], 526: [11.25, 2.95], 527: [11.08, 11.08, 3.89], 528: [10.98], 529: [11.25, 8.75, 11.25], 530: [9.25, 8.6, 8.75], 531: [8.49, 3.99], 532: [1.69, 8.99], 533: [8.49, 1.69], 534: [11.75, 11.25, 11.89], 535: [9.25, 2.95, 9.25, 2.95], 536: [8.75, 4.45], 537: [4.45, 8.75], 538: [10.98], 539: [11.48, 8.49], 540: [9.25, 4.45], 541: [11.75, 11.89], 542: [8.99, 8.49], 543: [8.75, 9.25], 544: [8.75, 8.75], 545: [11.75, 11.75, 4.45], 546: [11.25, 11.75, 5.0], 547: [8.99, 1.69], 548: [11.75, 2.15], 549: [1.25, 9.25, 8.75, 17.8], 550: [9.25, 2.95], 551: [8.75, 11.25], 552: [17.8, 11.25, 11.75], 553: [11.48, 1.69, 3.39], 554: [9.25, 2.95], 555: [8.99, 1.69, 8.49], 556: [10.98], 557: [11.25, 2.95], 558: [8.99, 1.69], 559: [8.75, 2.15, 1.25], 560: [8.75, 2.95, 9.25, 5.0], 561: [11.25, 1.25, 11.75, 5.0, 11.25, 1.5, 8.75, 1.25, 2.95], 562: [11.48, 11.48], 563: [8.75, 8.75, 2.15], 564: [11.75, 1.25], 565: [9.25, 9.25], 566: [6.49, 11.75], 567: [8.49, 8.49, 1.09], 568: [10.98], 569: [8.75, 1.25, 2.15], 570: [11.25, 1.5], 571: [11.25, 11.25], 572: [8.49, 8.49], 573: [8.75, 1.5, 1.25, 1.5], 574: [8.75, 5.0, 2.15], 575: [7.4, 7.4, 4.0], 576: [9.25, 9.39, 9.25, 9.25, 9.39], 577: [11.25, 17.8, 11.25, 24.0, 11.25, 11.25, 11.25], 578: [45.0], 579: [11.48, 1.09], 580: [8.49, 8.49], 581: [35.0], 582: [11.25, 1.5], 583: [9.25, 8.75], 584: [3.99, 8.49], 585: [8.75, 8.75, 8.75], 586: [8.75, 8.75], 587: [11.75, 1.5], 588: [11.25, 11.25, 2.95], 589: [8.99, 10.98], 590: [9.25, 8.75, 4.45], 591: [8.49, 1.09, 2.39], 592: [8.75, 8.75], 593: [11.48], 594: [8.99, 8.49], 595: [8.49, 2.39], 596: [10.98, 8.49, 3.99], 597: [11.75, 4.45], 598: [8.75, 2.15, 1.25], 599: [10.98, 8.99], 600: [11.25, 1.5], 601: [8.75, 2.15, 1.25], 602: [8.75, 9.25, 8.75], 603: [11.25, 1.5], 604: [8.75, 1.25, 4.45], 605: [10.98], 606: [8.75, 2.95, 1.25], 607: [8.75, 2.95, 1.25], 608: [8.49, 8.49, 2.39], 609: [11.25, 1.25], 610: [8.75, 8.75], 611: [9.25, 8.75], 612: [11.89, 1.25], 613: [8.75, 2.15, 1.25], 614: [8.99, 1.09], 615: [8.75, 4.45], 616: [78.75], 617: [8.75, 4.45], 618: [11.75, 2.95], 619: [8.75, 8.75], 620: [11.75, 8.75], 621: [11.25, 11.25], 622: [11.25, 4.45, 1.25], 623: [8.49, 8.49, 8.49, 8.99], 624: [8.99, 2.39, 2.39, 3.99], 625: [8.75, 4.45], 626: [2.15, 9.25, 1.25], 627: [11.25, 11.75], 628: [8.75, 4.45, 11.25, 2.15, 8.75, 4.45], 629: [8.75, 8.75, 1.25], 630: [11.25, 2.15], 631: [8.75, 11.8], 632: [11.75, 1.25], 633: [9.25, 11.25], 634: [8.75, 1.25, 4.45], 635: [11.75, 4.45, 8.75, 47.0], 636: [8.75, 2.95, 8.75], 637: [8.75, 11.89, 4.45, 2.95, 1.25], 638: [8.75, 4.45, 2.95, 1.25], 639: [8.75, 2.15, 1.25], 640: [11.75, 2.95], 641: [8.99, 3.39], 642: [9.25, 9.25], 643: [35.0, 2.95], 644: [11.89, 1.5], 645: [11.25, 2.95], 646: [9.25, 11.25], 647: [11.25, 2.95], 648: [8.75, 9.25, 8.6], 649: [8.75, 8.75, 11.25, 8.75, 8.6], 650: [8.75, 1.25, 2.15], 651: [8.49, 8.49, 3.39, 3.39], 652: [10.98, 10.98, 2.39], 653: [11.25, 11.75], 654: [11.75, 1.25, 11.8, 8.75, 11.25], 655: [9.25, 4.45, 1.5], 656: [3.39, 8.99, 2.39], 657: [11.25, 2.15], 658: [11.25, 11.75], 659: [11.75, 4.45], 660: [11.75, 4.45], 661: [9.25, 8.75], 662: [8.49, 8.99], 663: [8.49, 8.99], 664: [11.75, 8.75], 665: [8.49, 3.99], 666: [3.89, 11.08], 667: [8.49, 8.99, 8.49], 668: [8.49, 8.49], 669: [11.25, 2.15], 670: [35.0, 8.75, 2.95], 671: [8.49, 8.49], 672: [10.98, 1.09], 673: [11.25, 2.15], 674: [2.95, 1.25, 8.75], 675: [9.25, 9.25], 676: [9.25, 2.95], 677: [8.75, 2.15, 1.25], 678: [8.99, 3.99], 679: [11.75, 2.15], 680: [8.99, 3.39], 681: [9.25, 8.75], 682: [11.25, 11.25, 4.45], 683: [8.75, 2.15, 1.25], 684: [11.75, 4.45], 685: [9.25, 2.95], 686: [8.49, 8.49], 687: [11.25, 8.75, 4.45], 688: [11.25, 11.25, 11.25, 11.25, 4.45], 689: [8.49, 1.69], 690: [8.49, 3.39], 691: [8.75, 11.25, 9.25, 8.75, 11.25, 11.25, 11.75, 11.25, 11.75, 11.25, 11.75], 692: [43.92], 693: [10.98, 1.69], 694: [11.48, 8.99], 695: [8.49, 1.69], 696: [9.25, 2.15, 1.5], 697: [11.25, 1.5], 698: [8.75, 8.75, 2.95], 699: [8.49, 1.69], 700: [8.75, 2.95, 1.25], 701: [11.25, 2.15], 702: [11.08], 703: [8.49, 8.49, 8.49], 704: [11.75, 1.25], 705: [11.75, 8.75], 706: [8.75, 8.75, 4.45], 707: [11.25, 1.5], 708: [47.0, 11.75, 6.49], 709: [8.75, 4.45, 6.49], 710: [8.75, 5.0, 2.15], 711: [8.49, 2.39], 712: [8.75, 11.75, 4.45], 713: [8.99, 10.98], 714: [9.25, 2.95], 715: [9.25, 9.25], 716: [11.75, 8.75], 717: [8.75, 8.75], 718: [10.98], 719: [11.25, 9.25], 720: [8.75, 8.75, 2.15], 721: [11.25, 2.15], 722: [4.45, 11.75], 723: [8.49, 2.39], 724: [9.25, 1.25, 1.25, 1.25], 725: [1.25, 8.75, 2.15], 726: [8.49, 1.69], 727: [11.25, 1.5], 728: [8.75, 8.75], 729: [8.49, 3.99], 730: [8.99, 1.09], 731: [11.25, 1.25], 732: [8.49, 2.39, 8.49], 733: [8.75, 9.25], 734: [11.25, 4.45, 11.25, 11.89], 735: [8.99, 8.49], 736: [8.75, 4.45], 737: [8.75, 11.75, 11.75, 17.8], 738: [9.39, 2.95], 739: [8.49, 3.99], 740: [8.75, 2.15, 1.25], 741: [43.92], 742: [8.49, 1.69], 743: [8.75, 4.45], 744: [8.49, 8.99], 745: [8.49, 3.99], 746: [8.75, 8.75, 2.95, 8.75], 747: [35.0], 748: [9.25, 2.95], 749: [8.75, 6.49], 750: [8.6, 8.75], 751: [8.75, 2.15, 1.5], 752: [8.49, 8.49, 2.39], 753: [9.25, 4.45], 754: [6.49, 11.75, 4.45], 755: [10.98, 1.69], 756: [9.39, 9.25], 757: [9.25, 2.95], 758: [8.75, 2.15, 1.25], 759: [11.25, 9.25, 8.75, 11.25, 8.75, 11.25, 5.0, 5.0, 24.0, 17.8, 11.8], 760: [11.25, 11.25], 761: [8.49, 10.98], 762: [8.75, 2.15, 1.5], 763: [9.25, 1.25, 1.5, 2.15], 764: [1.25, 8.75, 2.95], 765: [8.49, 3.99], 766: [11.25, 8.6], 767: [11.75, 2.15], 768: [37.0], 769: [8.49, 2.39], 770: [8.75, 4.45, 11.75], 771: [8.99, 3.99], 772: [9.25, 9.25], 773: [1.5, 8.75, 2.95], 774: [6.49, 11.75], 775: [8.49, 8.99], 776: [8.75, 4.45, 6.49], 777: [45.0], 778: [9.25, 2.95], 779: [8.49, 1.69], 780: [10.98], 781: [8.75, 4.45], 782: [11.25, 2.95], 783: [8.99, 8.49, 2.39], 784: [11.75, 6.49, 11.25], 785: [11.75, 2.95], 786: [8.99, 1.69], 787: [8.99, 4.36, 1.09, 8.99, 8.99], 788: [1.09, 8.99], 789: [8.99, 8.49], 790: [10.98, 1.09], 791: [11.75, 9.25, 11.25, 11.25, 2.15], 792: [11.25, 8.75, 4.45, 2.95], 793: [11.75, 1.5], 794: [8.99, 10.98, 2.39], 795: [8.75, 2.15, 9.25], 796: [1.5, 8.75, 2.15], 797: [3.99, 8.99], 798: [6.49, 8.75, 17.8], 799: [8.99, 3.99], 800: [35.0], 801: [11.25, 1.25], 802: [10.98], 803: [9.25, 4.45, 1.25, 6.0], 804: [11.25, 4.45], 805: [4.45, 2.95, 9.25], 806: [11.25, 2.15, 11.25, 11.25, 4.45], 807: [2.95, 9.25, 11.25, 1.25], 808: [8.75, 2.95, 1.25], 809: [8.75, 4.45], 810: [11.48, 11.48], 811: [8.49, 2.39], 812: [11.25, 11.75, 2.15], 813: [1.5, 2.15, 8.75], 814: [11.25, 17.8, 11.25], 815: [11.25, 1.25], 816: [4.45, 9.25, 9.25, 8.75], 817: [9.25, 8.75, 8.75], 818: [9.25, 8.75, 11.75, 11.75, 8.75, 8.75, 17.8, 2.95], 819: [10.98], 820: [8.49, 8.49], 821: [10.98], 822: [8.99, 8.99], 823: [11.75, 35.0, 11.75], 824: [3.99, 8.49], 825: [10.98, 1.69], 826: [35.0], 827: [8.99, 2.39], 828: [8.99, 2.39], 829: [1.25, 8.75, 2.95], 830: [11.75, 11.25], 831: [35.0], 832: [8.49, 8.49, 2.39], 833: [11.25, 1.5], 834: [8.75, 6.0, 1.25], 835: [8.75, 4.45], 836: [11.75, 11.75, 4.45], 837: [43.92], 838: [8.75, 4.45, 8.75], 839: [11.25, 9.25], 840: [8.99, 2.39], 841: [9.25, 8.75], 842: [10.98, 8.49, 3.99, 3.39], 843: [11.75, 1.5], 844: [4.45, 9.25, 8.75], 845: [1.25, 11.75], 846: [8.75, 1.5, 8.75], 847: [8.75, 2.15, 1.5], 848: [8.75, 2.95, 8.75, 8.75, 35.0, 8.75], 849: [6.49, 4.45, 11.25], 850: [11.25, 8.6, 8.75], 851: [11.25, 4.45], 852: [8.99, 2.39], 853: [9.25, 9.25], 854: [9.25, 4.45], 855: [11.75, 11.25, 2.95, 2.15], 856: [11.25, 11.25], 857: [8.75, 2.15, 1.5], 858: [9.25, 4.45], 859: [10.98, 8.99, 4.36], 860: [8.75, 4.45, 1.25], 861: [8.99, 2.39], 862: [4.45, 8.75], 863: [10.98], 864: [11.75, 1.5], 865: [10.98], 866: [8.99, 8.49, 3.99], 867: [8.99, 8.49], 868: [3.99, 8.49, 8.49, 8.99], 869: [11.25, 11.25], 870: [10.98], 871: [10.98], 872: [10.98, 2.39, 3.39], 873: [8.75, 1.25, 2.95], 874: [11.75, 1.5], 875: [10.98, 1.69], 876: [4.45, 8.75], 877: [8.75, 8.75], 878: [8.75, 4.45], 879: [9.25, 8.75, 11.25, 8.75], 880: [3.99, 8.99, 8.49], 881: [11.25, 11.25, 8.75], 882: [4.45, 8.75], 883: [4.45, 1.25, 8.75], 884: [8.75, 1.5, 2.15], 885: [11.75, 11.75], 886: [11.75, 11.75], 887: [11.75, 1.5], 888: [8.75, 9.25, 1.25, 8.75, 2.15], 889: [8.99, 1.09], 890: [4.45, 11.25, 11.75], 891: [2.15, 8.75, 8.75], 892: [1.25, 9.25, 2.15], 893: [11.75, 11.25], 894: [8.75, 11.25, 4.45], 895: [8.49, 1.69], 896: [8.75, 8.75], 897: [8.99, 8.49], 898: [9.25, 11.25, 2.95], 899: [4.45, 11.75, 6.49

In [90]:
df_chip.groupby("order_id").total.sum().

AttributeError: 'DataFrameGroupBy' object has no attribute 'total'