## Online Lab: Pandas with Filtering I

In this online lab, we will use the mtcars data set.  The data is at "data\mtcars_duplicated.csv".  First, read in the data.

We are going to review the following knowledge points:

1. Find and drop duplicates
2. Write simple Lambda functions
3. Filtering the dataframe
4. Use basic groupby with apply functions to compute summary statistics

#### Ex1:  Read in the mtcars dataset

In [2]:
import pandas as pd

df_mtcars = pd.read_csv("data/mtcars_duplicated.csv")
df_mtcars.head()

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

#### Ex2:  How many rows are duplicated? Please drop all duplicates

In [5]:
num_duplicates = df_mtcars.duplicated(keep = "first").sum()
df_mtcars.drop_duplicates(keep = "first", inplace = True)
num_duplicates

0

#### Ex3:  Write a function to take in a car name and return true if  it is a Japanese car. A car is Japanese if its name contains "Honda", "Mazda", "Toyota" or "Nissan" (not case sensitive)

In [8]:
def japanese_car(car_name):
    car_name = car_name.lower()
    japanese_name = ["honda", "mazda", "toyota", "nissan"]
    occurance = sum([x in car_name for x in japanese_name])
    return bool(occurance > 0)

japanese_car("Tesla Model 3")

False

#### Ex4: Write the lambda version of the above function

In [10]:
japanese_car = lambda n: sum([x in n.lower() for x in ["honda", "mazda", "toyota", "nissan"]]) > 0

japanese_car("Tesla Model 3")

False

#### Ex5:  Apply the function above to decide whether the car is Japanese or not, save the result to a new column called japanese

In [13]:
df_mtcars["japanese"] = df_mtcars["car_name"].apply(japanese_car)
df_mtcars.head()

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,japanese
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,True
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,True
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,False
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,False
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,False

#### Ex6:  Use Groupby to compute the average mileage per gallon per hoursepower for the Japanese or Non-Japanese cars. You should return a dataframe contains two columns, one is japanese and the other is efficiency (mpg / hp).

In [14]:
import numpy as np

results = df_mtcars.groupby(by="japanese")\
            .apply(lambda df: pd.Series({"efficiency": np.mean(df["mpg"]/df["hp"])})).reset_index()
results

   japanese  efficiency
0     False    0.162512
1      True    0.341924