In [526]:
import pandas as pd
df_res = pd.read_csv("data/Reservation_Data.csv", na_values=["#N/A"]).dropna()
df_res.head()

,reservation_date,reservation_time,reservation_party_size,reservation_booked_date,datetime_booked
0,9/9/17,21:15:00,2,8/15/17,8/15/17 17:04
1,9/12/17,20:45:00,2,8/16/17,8/16/17 15:54
2,9/14/17,20:30:00,2,8/15/17,8/15/17 16:39
3,9/16/17,18:00:00,2,8/15/17,8/15/17 16:43
4,9/5/17,20:30:00,2,8/15/17,8/15/17 16:57

In [551]:
import pandas as pd
import datetime
import numpy as np

df_res = pd.read_csv("data/Reservation_Data.csv", na_values=["#N/A"]).dropna()
    
df_res['datetime_booked'] = pd.to_datetime(df_res['datetime_booked'])
df_res['datetime_booked'] = df_res['datetime_booked'].dt.tz_localize('UTC').dt.tz_convert('US/Pacific')

df_res['reservation_datetime'] = pd.to_datetime(df_res['reservation_date'] + ' ' + df_res['reservation_time'])
df_res['reservation_datetime'] = df_res['reservation_datetime'].dt.tz_localize('US/Pacific')

array = ['17:30:00', '17:45:00', '18:00:00', '18:15:00', '20:45:00', '21:00:00', '21:15:00', '21:30:00']
df_res = df_res.loc[df_res['reservation_time'].isin(array)]
df_res.shape

(3359, 6)

In [528]:
df_res.dtypes

reservation_date                               object
reservation_time                               object
reservation_party_size                          int64
reservation_booked_date                        object
datetime_booked            datetime64[ns, US/Pacific]
reservation_datetime       datetime64[ns, US/Pacific]
dtype: object

In [529]:
df_res.datetime_booked.dt.hour.mean()

13.55969038404287

In [530]:
df_res.head()

,reservation_date,reservation_time,reservation_party_size,reservation_booked_date,datetime_booked,reservation_datetime
0,9/9/17,21:15:00,2,8/15/17,2017-08-15 10:04:00-07:00,2017-09-09 21:15:00-07:00
1,9/12/17,20:45:00,2,8/16/17,2017-08-16 08:54:00-07:00,2017-09-12 20:45:00-07:00
3,9/16/17,18:00:00,2,8/15/17,2017-08-15 09:43:00-07:00,2017-09-16 18:00:00-07:00
5,9/9/17,20:45:00,2,8/15/17,2017-08-15 10:01:00-07:00,2017-09-09 20:45:00-07:00
7,9/5/17,20:45:00,4,8/15/17,2017-08-15 10:01:00-07:00,2017-09-05 20:45:00-07:00

In [531]:
#Problem 2 Part 1


df_res["reservation_date"] = pd.to_datetime(df_res['reservation_date'])
df_res["day_of_week"] = df_res["reservation_date"].dt.day_name()
df_res["reservation_time"] =  pd.to_timedelta(df_res['reservation_time'], unit='s')
res_time = datetime.time(hour = 21, minute=0)
res_time = res_time.strftime("%H:%M:%S")
low = df_res.loc[df_res['reservation_time'] == res_time].groupby("day_of_week").mean().idxmin()
low[0]

'Tuesday'

In [532]:
#Problem 2 Part 2

num_days = 7

df_res["party"] = df_res["reservation_party_size"].apply(lambda x: '0' if x in [1,2] else '1') 
num_days = datetime.timedelta(days=num_days)
new_res = df_res[df_res["reservation_datetime"] - df_res["datetime_booked"] <= num_days] #df with at most days given

df_p12 = new_res.apply(lambda x : True if x['reservation_party_size'] <= 2 else False, axis = 1) 
p12 = df_res.apply(lambda x : True if x['reservation_party_size'] <= 2 else False, axis = 1)

denom12 = len(p12[p12 == True].index) #all 1 or 2 party sizes
one_or_two = len(df_p12[df_p12 == True].index) #series of true if 1 or 2 party size

party_one_two = one_or_two/denom12 #fraction of 1 or 2 party size

p34 = df_res.apply(lambda x : True if x['reservation_party_size'] >= 3 else False, axis = 1)
df_p34 = new_res.apply(lambda x : True if x['reservation_party_size'] >= 3 else False, axis = 1)

three_or_four = len(df_p34[df_p34 == True].index)
denom34 = len(p34[p34 == True].index)

party_three_four = three_or_four/denom34
party_one_two, party_three_four

(0.2718808193668529, 0.18545994065281898)

In [533]:
num_days = 100
num_days = datetime.timedelta(days=num_days)
df_res['type'] = df_res.reservation_party_size.apply(lambda x:  '1' if x in [1,2] else '2')

total_1, total_2 = df_res.groupby('type').count().reservation_date
df_res.groupby('type').count().reservation_date
# df_filtered = df_res[df_res.reservation_datetime - df_res.datetime_booked <= num_days]
# num_1, num_2 = df_filtered.groupby('type').count().reservation_date
# df_filtered.groupby('type').count().reservation_date
# party_one_two = num_1/total_1
# party_three_four = num_2/total_2

# party_one_two, party_three_four
# df_filtered.shape[0]

type
1    2685
2     674
Name: reservation_date, dtype: int64

In [581]:
df_res = pd.read_csv("data/Reservation_Data.csv", na_values=["#N/A"]).dropna()
    
df_res['datetime_booked'] = pd.to_datetime(df_res['datetime_booked'])
df_res['datetime_booked'] = df_res['datetime_booked'].dt.tz_localize('UTC').dt.tz_convert('US/Pacific')

df_res['reservation_datetime'] = pd.to_datetime(df_res['reservation_date'] + ' ' + df_res['reservation_time'])
df_res['reservation_datetime'] = df_res['reservation_datetime'].dt.tz_localize('US/Pacific')

array = ['17:30:00', '17:45:00', '18:00:00', '18:15:00', '20:45:00', '21:00:00', '21:15:00', '21:30:00']
df_res = df_res.loc[df_res['reservation_time'].isin(array)]



res_time = datetime.time(hour = 21, minute=30)
period1 = ['17:30:00', '17:45:00', '18:00:00', '18:15:00']
period2 = ['20:45:00', '21:00:00', '21:15:00', '21:30:00']

res_time = res_time.strftime("%H:%M:%S")
for i in period1:
    if res_time in period1:
        df_res = df_res.loc[df_res['reservation_time'].isin(period1)]
        
for j in period2:
    if res_time in period2:
        df_res = df_res.loc[df_res['reservation_time'].isin(period2)]
        
# df_res
# k = df_res.loc[df_res['reservation_time'] == res_time].sort_values(by=["datetime_booked"])
groups = df_res.sort_values(by=["datetime_booked"]).groupby('reservation_date')
count = 0
total_rank = 0
for name, group in groups:
    group = group.reset_index()
    k = group.loc[group['reservation_time'] == res_time].sort_values(by=["datetime_booked"]).head(1)
#     print(group)
    if not k.empty: 
        rank = group.loc[group['reservation_time'] == res_time]\
                .sort_values(by=["datetime_booked"]).head(1).index.values.astype(int)[0]
        count = count + 1
        total_rank = total_rank + rank +1
        
print("AVG = ", total_rank/count)

AVG =  3.9035087719298245